


     <div class="col-12 mt-4 pt-3" *ngIf="alredyExist">
         <div class="alert alert-danger" role="alert">
         Number Alredy Exist! <a [routerLink]="['/Loginbypassword']" class="float-right">Click Here To Sign In</a>
      </div>
    </div>
     
           
    <img class="w-100 topimg" src="assets/images/vv.jpg" />
 
 
    <!-- END OF SLIDER -->
    <!-- /////////////////////////////// -->
    <div class="container   ">
        <div class="row justfy-row">
            <div class="col-md-10">
              
                <form [formGroup]="profileForm" (ngSubmit)="FormSubmit()">
                                  <div class="card card-log">
                    <h1 class="h1 text-center" style="color: #FB6725;">Lets get Started</h1>
                    <!-- <h6 class="log-h5 mt-2 mb-2">Lets get Started </h6>  -->
                    <div class="input-box w-100 pl-4 pr-4">
                        <span class="prefix">+91</span>
                        <input class="input-style mb-0" id="num" formControlName="mobile"  type="text" placeholder=" Enter Mobile Number" mask="0000000000">
                       
                    </div>
                    <span class="" style="color:#FB6725;"
                    *ngIf="validate['mobile'].touched && validate['mobile'].errors?.['required'] "> Number required</span><span class="clr-r" style="color: red;"
                    *ngIf="validate['mobile'].touched && validate['mobile'].errors?.['minlength'] ">Invalid Number.</span>                
                    <div class="mt-2">
                        <p class="ppp">By Continuing, You agree to our <br> <a routerLink="" class="trm">Terms & Conditions </a> </p>                        
                    </div>                   
                        <button type="submit" class="w-100 mb-2 mt-0 button-continue button-log" [disabled]="!profileForm.valid">Continue</button>
                    <div class="mt-2">
                       <!-- <p>Already Have an Account?</p> -->
                       <div class="mt-2">
                        <p><a [routerLink]="['/Loginbypassword']" >Already Have an Account?</a></p>
                     </div>
                    </div>
                </div>
            </form>
            
        </div>
    </div>
    </div>



