
.input-box {
    display: flex;
    align-items: center;
    max-width: 100%;
    background: #fff;
    border: 1px solid #ced4da;
    border-radius: 4px;
    padding-left: 0.5rem;
    overflow: hidden;
    font-family: sans-serif;
  }
  
  .input-box .prefix {
    font-weight: 800;
    font-size: 16px;
    color: rgb(0, 0, 0);
  }
  
  .input-box input {
    flex-grow: 1;
    color: rgb(0, 0, 0);
    font-size: 16px;
    background: #fff;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-weight: 700;
  }
  
  .input-box:focus-within {
    border-color: #ced4da;
  }

  .main{
    height: 80vh;
  }