 
<section class="padding-conson">
    <div class="container">
        <div class="row back-icon">
            <div class="col-3 d-flex pt-2">
                <a [routerLink]="['/appointments']" class="d-flex">
                    <i class="fas fa-chevron-left"></i>
 
                </a>
            </div>
            <div class="col-9 d-flex pt-2">
                <p>Cancel Appointment</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 Presc-r">
                <p>Your appointment has been canceled</p>
 
 
            </div>
        </div>
    </div>
 
</section>
<?php
include "includes/footer.php";
?>
 

