
  <section class="mt-3">
    <div class="container-fluid mt-3footer">
      <div class="row text-center footer-rows">
        <div class="col p-0 m-0">
          <div class="footerli">
            <a [routerLink]="['/Home']">
              <i class="fas fa-house-user"></i>
              <p>Home</p>
            </a>
          </div>
        </div>
        <div class="col p-0 m-0">
          <div class="footerli">
            <a [routerLink]="['/consultnow']">
              <i class="far fa-comment-dots"></i>
              <p>Consult</p>
            </a>
          </div>
        </div>
        <div class="col p-0 m-0">
          <div class="footerli">
            <a [routerLink]="['/userrecords']">
              <i class="far fa-folder-open"></i>
              <p>Records</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

