 
<section class="padding-conson">
    <div class="container-fluid">
        <div class="row back-icon">
            <div class="col-12 d-flex ">
              <a [routerLink]="['/Home']" class="d-flex align-items-center w-100">
                    <i class="fas fa-chevron-left"></i>
                    <p class="pt-3 pl-2">Patient Care</p>
                </a> 
            </div>
            <!-- <div class="col-12">
                <p class="help-isssue">General Queries</p>
 
            </div> -->
        </div>
        <div class="row background-know">
            <div class="col-12">
                <div class="row">
                    <div class="col-7">
                        <h6 class="d-flex align-items-center class-f-h6">Advanced surgical care <br> from India's top
                            doctors for
                            <br> elective
                            surgeries
                        </h6>
                    </div>
                    <div class="col-5 text-center">
                        <img src="assets/imagescopy/doctor-ki.png" alt="" class="img-40-dctor">
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 mt-2 mb-2 know-more-p">
                <h4>
                    Why choose us ?
                </h4>
                <div class="d-flex align-items-center w-100">
                    <i class="fas fa-user pr-2 icon-know"></i>
                    <p class="pt-4">Expert surgeons with 10+ years of experience</p>
                </div>
                <div class="d-flex align-items-center w-100">
                    <i class="fas fa-notes-medical pr-2   icon-know"></i>
                    <p class="pt-4">Advanced Surgical Technologies</p>
                </div>
                <div class="d-flex align-items-center w-100">
                    <i class="fas fa-handshake pr-2  icon-know"></i>
                    <p class="pt-4">Personal Care Assistants</p>
                </div>
                <div class="d-flex align-items-center w-100">
                    <i class="fas fa-money-check-alt  icon-know"></i>
                    <p class="pt-4">Financial Aid & Assistance</p>
                </div>
            </div>
            <div class="col-md-6">
                <!-- /////////////////// -->
                <div class="">
                    <h4>Surgeries we provide</h4>
                    <div class="tabs a-clr-tab text-center">
                        <div class="tab">
                            <input type="radio" id="rd1" name="rd">
                            <label class="tab-label" for="rd1">General Surgery</label>
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/piles.png" alt="">
 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Piles</a>
                                        </div>
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/hernia.png" alt="">
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Hernia</a>
                                        </div>
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/pregency1.png" alt="">
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Anal Fissure </a>
                                        </div>
 
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/stomach (1).png" alt="">
 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Gallstones</a>
 
                                        </div>
 
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/pregency1.png" alt="">
 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Circumcision</a>
 
                                        </div>
 
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/kidney.png" alt="">
 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Kidney Stones</a>
 
                                        </div>
 
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/pregency1.png" alt="">
 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Varicose Veins</a>
 
                                        </div>
 
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/pregency1.png" alt="">
 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Appendicitis</a>
 
                                        </div>
 
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/pregency1.png" alt="">
 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Lipoma Removal</a>
 
                                        </div>
 
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/pregency1.png" alt="">
 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Pilonidal Sinus</a>
 
                                        </div>
 
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/pregency1.png" alt=""> 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Varicose Veins</a> 
                                        </div> 
                                    </div> 
                                </div> 
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" id="rd2" name="rd">
                            <label class="tab-label" for="rd2">Urology</label>
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/pregency1.png" alt=""> 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">TURP</a> 
                                        </div> 
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/kidney.png" alt=""> 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Kidney stone</a> 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" id="rd3" name="rd">
                            <label class="tab-label" for="rd3">Gynecology</label>
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/pregency1.png" alt=""> 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Viginal cyst</a> 
                                        </div> 
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/pregency1.png" alt=""> 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Hysterectomy</a> 
                                        </div> 
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/pregency1.png" alt=""> 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Gynaecomastia</a> 
                                        </div> 
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/pregency1.png" alt=""> 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Myomectomy</a> 
                                        </div> 
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/pregency1.png" alt=""> 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Vaginoplasty</a> 
                                        </div>
                                     </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/pregency1.png" alt=""> 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Labiaplasty</a> 
                                        </div> 
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/pregency1.png" alt=""> 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Ovarian cyst</a> 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" id="rd4" name="rd">
                            <label class="tab-label" for="rd4">Ophthalmology</label>
                            <div class="tab-content">
                                <div class="row">
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/eye.png" alt="">
 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Cataract</a>
 
                                        </div> 
                                    </div>
                                    <div class="col-4 column-p">
                                        <div class=border-ri>
                                            <img src="assets/imagescopy/eye.png" alt=""> 
                                        </div>
                                        <div>
                                            <a [routerLink]="['/consultnow']">Lasik</a> 
                                        </div> 
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab">
                            <input type="radio" id="rd3" name="rd">
                            <label for="rd3" class="tab-close">Close others &times;</label>
                        </div>
                    </div>
                </div>
                <!-- //////////////////////// -->
 
            </div>
        </div>
        <div class="row">
 
 
        </div>
        <div class="row mt-2 mb-2">
            <div class="col-md-12">
                <h4 class="mt-2 mb-2">Why Virtual Vaidya</h4>
            </div>
 
            <div class="col-md-6">
                <div class="d-flex">
                    <i class="fas fa-user pr-2 icon-know"></i>
                    <p>Expert surgeons with 10+ years of experience</p>
                </div>
                <p class="justify-p">We have the finest and some of the most qualified surgical specialists, each
                    with 10+ years of
                    experience, who will consult with you to determine and conduct the most appropriate surgical
                    procedure for your condition.</p>
 
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <i class="fas fa-notes-medical pr-2   icon-know"></i>
                    <p>Advanced Surgical Technologies</p>
                </div>
                <p class="justify-p">
                    You can expect the highest standards in surgeries and care with our cutting-edge modern medical
                    technology, designed to provide you the most advanced level of medical care.
                </p>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <i class="fas fa-handshake pr-2  icon-know"></i>
                    <p>Personal Care Assistants</p>
                </div>
                <p class="justify-p">A dedicated assistant will take care of your needs from your very first
                    interaction with us
                    through to the end of your treatment. They will be with you at every step of your
                    journey—booking consultations with surgeons, getting a second opinion, finding the best hospital
                    for your surgery, arranging medicines and lab tests, handling the insurance approvals, and
                    coordinating admission and discharge formalities.</p>
            </div>
            <div class="col-md-6">
                <div class="d-flex">
                    <i class="fas fa-money-check-alt  icon-know"></i>
                    <p>Financial Aid & Assistance</p>
                </div>
                <p class="justify-p">
                    We provide our customers with the highest level of satisfaction by ensuring 100%
                    transparency in pricing. We offer the finest surgical experiences at competitive prices—with
                    flexible payment options, no-cost EMI options, discounted medicines and lab tests, and
                    support for a wide range of insurance policies.
                </p>
 
            </div>
            <div class="col-md-6">
                <div class="d-flex">
 
                    <i class="fas fa-hand-holding-medical icon-know"></i>
                    <p>Postoperative Care</p>
                </div>
                <p class="justify-p">
                    Our personal care assistants will continue to stay in touch with you, even after the
                    procedure, to book free followup consultations with your doctor as per your convenience. You
                    will also receive dietary tips and instructions for your speedy recovery.
                </p>
 
            </div>
 
 
        </div>
        <div class="row mt-2 mb-2 ">
            <div class="col mt-2 mb-2">
                <h4 class="mt-2 mb-2">Testimonials</h4>
            </div>
 
            <div id="testimonial-slider" class="owl-carousel">
                <div class="testimonial">
                    <div class="pic">
                        <img
                            src="https://images.pexels.com/photos/704955/pexels-photo-704955.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                    </div>
                    <p class="description">
                        I’d definitely recommend virtual Care for their support at every step of my pilonidal sinus
                        treatment. The doctor was highly experienced and the surgery went well. The team took care of
                        everything from day one to the day of discharge very efficiently.
                    </p>
                    <h3 class="title">Jessica</h3>
                    <small class="post">- Architect</small>
                </div>
 
                <div class="testimonial">
                    <div class="pic">
                        <img
                            src="https://images.pexels.com/photos/638700/pexels-photo-638700.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                    </div>
                    <p class="description">
                        "Thanks to Virtual Care, I could focus on my recovery while the team took care of all the
                        paperwork, logistics and financial support. The doctor was good and clearly explained the issue
                        and treatment. After that, from consultation to discharge,
                    </p>
                    <h3 class="title">Pearl</h3>
                    <small class="post">- Engineer </small>
                </div>
 
                <div class="testimonial">
                    <div class="pic">
                        <img
                            src="https://images.pexels.com/photos/531139/pexels-photo-531139.jpeg?w=940&h=650&auto=compress&cs=tinysrgb">
                    </div>
                    <p class="description">
                        "I contacted Virtual Care for my piles treatment. The doctor was very approachable and listed
                        out the best options. After that, the insurance, coordination and other formalities were taken
                        care of by the Practo Care team. Overall, a seamless experience.
                    </p>
                    <h3 class="title">Kellie</h3>
                    <small class="post">- Graphic Designer</small>
                </div>
            </div>
        </div>
    </div>
</section>
 
 

