 
<section class="padding-online">
    <div class="container-fluid">
        <div class="row back-icon">
            <div class="col-12 d-flex pt-2">
                <a [routerLink]="['/Home']" class="d-flex">
                    <i class="fas fa-chevron-left"></i>
                    <p class="pl-2">Online Consultations</p>
                </a>
 
            </div>
            <!-- <div class="col-12">
                <p class="help-isssue">General Queries</p>
 
            </div> -->
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-6 mt-2 mb-2 padding-card-book">
                <div class="card card-appointment">
                   <a [routerLink]="['/help']">
                        <img src="assets/imagescopy/medical-a.png" alt="">
 
                       <a [routerLink]="['/help']">Guide to Consult</a>
                    </a>
                </div>
            </div>
            <div class="col-6 mt-2 -b-2 padding-card-book">
                <div class="card card-appointment">
                   <a [routerLink]="['/help']">
                        <img src="assets/imagescopy/medical-a.png" alt="">
 
                       <a [routerLink]="['/help']">Consultation on Virtual app</a>
                    </a>
                </div>
            </div>
            <div class="col-6 mt-2 mb-2 padding-card-book">
                <div class="card card-appointment">
                   <a [routerLink]="['/help']">
                        <img src="assets/imagescopy/medical-a.png" alt="">
 
                       <a [routerLink]="['/help']">I need assistance on Consultation Booked</a>
                    </a>
                </div>
            </div>
            <div class="col-6 mt-2 mb-2 padding-card-book">
                <div class="card card-appointment"><a [routerLink]="['/help']">
                        <img src="assets/imagescopy/medical-a.png" alt="">
 
                       <a [routerLink]="['/help']">Doctor not replying</a>
                    </a>
                </div>
            </div>
            <div class="col-6 mt-2 mb-2 padding-card-book">
                <div class="card card-appointment">
                   <a [routerLink]="['/help']">
                        <img src="assets/imagescopy/medical-a.png" alt="">
 
                       <a [routerLink]="['/help']">Prescription related issues</a>
                    </a>
                </div>
            </div>
            <div class="col-6 mt-2 mb-2 padding-card-book">
                <div class="card card-appointment">
                   <a [routerLink]="['/help']">
                        <img src="assets/imagescopy/medical-a.png" alt="">
 
                       <a [routerLink]="['/help']">Doctor related issues</a>
                    </a>
                </div>
            </div>
            <div class="col-6 mt-2 mb-2 padding-card-book">
                <div class="card card-appointment">
                   <a [routerLink]="['/help']">
                        <img src="assets/imagescopy/medical-a.png" alt="">
 
                       <a [routerLink]="['/help']">Payments, Coupons & Discount</a>
                    </a>
                </div>
            </div>
            <div class="col-6 mt-2 mb-2 padding-card-book">
                <div class="card card-appointment">
                   <a [routerLink]="['/help']">
                        <img src="assets/imagescopy/medical-a.png" alt="">
 
                       <a [routerLink]="['/help']">Issues with chat</a>
                    </a>
                </div>
            </div>
        </div>
    </div>
 
</section>
 
 

