

<section class="padding-online">
  <div class="container">
      <div class="row back-icon">
          <div class="col-12 d-flex pt-2 justify-content-between">
            <a [routerLink]="['/appointments']" class="d-flex">
                  <i class="fas fa-chevron-left"></i>
                  <p class="pl-2">Appointment Details</p>

              </a>
              <!-- <div class="d-flex shop-search">

                  <input type="text" placeholder="search" class="pl-2">
                  <i class="fas fa-search pl-2"></i>
              </div> -->

          </div>
          <!-- <div class="col-12">
              <p class="help-isssue">General Queries</p>

          </div> -->
      </div>
      <div class="row center-detailsa">


          <div class="col-md-6 mt-2 mb-2">
              <div class="cards-shop">
                  <div class="d-flex justify-content-around">
                      <div>
                          <img class="img-shop" src="assets/imagescopy/gyna.jpg" alt="">
                      </div>

                      <div class="ml-2">
                          <h6>
                              Dr. Yamuna singh
                          </h6>
                          <p class="qualification-p">MBBS,MD(DVL)</p>
                          <p class="qualification-p">Dermtologist</p>
                          <p class="bookdate-shop">Fever,cold,Headache </p>


                      </div>

                  </div>
                  <div>
                      <h4 class="qualification-p">Appointment Timings</h4>
                      <div class="d-flex time-evenly mt-2">
                          <p class=""> Monday 7:30pm</p>
                          <p class="qualification-p">19/02/2022</p>
                      </div>
                      <div class="mt-2 text-center">
                        <a [routerLink]="['/CancelAppointment']"> <button class="upcoming-cancel text-center">Cancel Appointment
                              </button></a>
                      </div>


                  </div>


              </div>
          </div>

      </div>

      </div>

</section>