<div class="container">
  <div class="row"></div>

  <section class="crd">
    <div class="container-fluid mt-2 mb-2 padding-tops">
      <div class="row justify-content-between">
        <div class="">
          <h1 class="view-title">
            Hello {{ Userdata[0].user_name }} Welcome to Virtual Vaidhya:)
          </h1>
        </div>

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                 <div class="carousel-item active">
                <div class="col-md-6 d-flex align-items-center justify-content-between card-mainh mb-2">
                <div class="">
                  <h4 class="d-flex">
                    <span class="pl-2"> Care</span>
                  </h4>
              
                  <h6>You are safe in hands</h6>
                  <p>Choose the expert in end to end</p>
             
                </div>
                <div>
                  <img src="assets/imagescopy/do.jpg" alt="" class="img-doctor"/>
                </div>
              </div>
              </div>
              <div class="carousel-item pt-4 " *ngFor="let baneer of baneer">
                <div class="col-md-6 d-flex align-items-center justify-content-between card-mainh mb-2">
                    <div class="">
                      <h4 >
                        <span class="pl-2">{{baneer.Title}} </span>
                      </h4>
                      
                      <h6> {{baneer.Description_1}} </h6>
                      <p> {{baneer.Description_2}}</p>
                   
                    </div>
                    <div>
                      <img src="{{baneer.Images}}" alt="" class="img-doctor"/>
                    </div>
                  </div>
              </div>
              <!-- <div class="carousel-item">
                <div class="col-md-6 d-flex align-items-center justify-content-between card-mainh mb-2">
                <div class="">
                  <h4 class="d-flex">
                    <span class="pl-2"> Care</span>
                  </h4>
                  <P>Surgaries</P>
                  <h6>You are safe in hands</h6>
                  <p>Choose the expert in end to end</p>
             
                </div>
                <div>
                  <img src="assets/imagescopy/do.jpg" alt="" class="img-doctor"/>
                </div>
              </div>
              </div> -->
         
            </div>
          </div>
         
         
        <!-- <div class="col-md-6 d-flex align-items-center justify-content-between card-mainh mb-2">
          <div class="">
            <h4 class="d-flex">
              <span class="pl-2"> Care</span>
            </h4>
            <P>Surgaries</P>
            <h6>You are safe in hands</h6>
            <p>Choose the expert in end to end</p>
            <div class="pt-2">
              <a [routerLink]="['/knowmore']">
                <button class="button-know">Know more</button>
              </a>
            </div>
          </div>
          <div>
            <img
              src="assets/imagescopy/do.jpg"
              alt=""
              class="img-doctor"
            />
          </div>
        </div> -->

        <div class="col-md-6 pb-2">
          <h4 class="">Our Offerings</h4>

          <div class="d-flex respons-card mt-4">
            <div class="card card-offers">
              <a [routerLink]="['/consultnow']"
                ><img
                  src="assets/imagescopy/doctor7.jpg"
                  alt=""
                  class="w-100"
                />
                <div>
                  <a
                    [routerLink]="['/consultnow']"
                    class="online-consultations"
                  >
                    Online consultations
                  </a>
                </div>
              </a>
            </div>
            <div class="card card-offers">
              <a [routerLink]="['/homelab']">
                <img
                  src="assets/imagescopy/lab-test.jpg"
                  alt=""
                  class="w-100"
                />
                <div>
                  <a [routerLink]="['/homelab']">
                    Lab Test <br />
                    At-Home
                  </a>
                </div>
              </a>
            </div>
            <div class="card card-offers">
              <a [routerLink]="['/covidhome']">
                <img
                  src="assets/imagescopy/covidho.jpg"
                  alt=""
                  class="w-100"
                />
                <div>
                  <a [routerLink]="['/covidhome']"> COVID-19 Care </a>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-padding-tp mt-4 mb-2">
          <h5>Consult From Home</h5>
          <div class="d-flex justify-content-between button-pc">
            <p>Common Symptoms</p>
            <a [routerLink]="['/covidhome']"> <button>Search</button></a>
          </div>
          <!-- ////////slider/////////////// -->
          <div class="container-fluid d-flex flex-wrap">
            <div class="row">
              <div class="col">
                <div class="card card-img-a">
                  <a [routerLink]="['/viewdoctors']">
                    <div>
                      <img
                        src="assets/imagescopy/thermometer.png"
                        alt=""
                      />
                    </div>
                    <a [routerLink]="['/viewdoctors']">fever</a>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="card card-img-a">
                  <a [routerLink]="['/viewdoctors']">
                    <a [routerLink]="['/viewdoctors']"></a>
                    <div>
                      <img
                        src="assets/imagescopy/blood-donation.png"
                        alt=""
                      />
                    </div>
                    <a [routerLink]="['/viewdoctors']">blood</a>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="card card-img-a">
                  <a [routerLink]="['/viewdoctors']">
                    <div>
                      <img
                        src="assets/imagescopy/pain.png"
                        alt=""
                      />
                    </div>
                    <a [routerLink]="['/viewdoctors']">Back pain</a>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="card card-img-a">
                  <a [routerLink]="['/viewdoctors']">
                    <div>
                      <img
                        src="assets/imagescopy/hair.png"
                        alt=""
                      />
                    </div>
                    <a [routerLink]="['/viewdoctors']">Hair fall</a>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="card card-img-a">
                  <a [routerLink]="['/viewdoctors']">
                    <a [routerLink]="['/viewdoctors']"></a>
                    <div>
                      <img
                        src="assets/imagescopy/cough.png"
                        alt=""
                      />
                    </div>
                    <a [routerLink]="['/viewdoctors']">cough</a>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="card card-img-a">
                  <a [routerLink]="['/viewdoctors']"></a>
                  <div>
                    <img
                      src="assets/imagescopy/stomach.png"
                      alt="consult-doctor.php"
                    />
                  </div>
                  <a [routerLink]="['/viewdoctors']">Stomach Pain</a>
                </div>
              </div>
              <div class="col">
                <div class="card card-img-a">
                  <a [routerLink]="['/viewdoctors']">
                    <div>
                      <img
                        src="assets/imagescopy//brain.png"
                        alt=""
                      />
                    </div>
                    <a [routerLink]="['/viewdoctors']">Hair fall</a>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="card card-img-a">
                  <a [routerLink]="['/viewdoctors']">
                    <a [routerLink]="['/viewdoctors']"></a>
                    <div>
                      <img
                        src="assets/imagescopy/kidneys.png"
                        alt=""
                      />
                    </div>
                    <a [routerLink]="['/viewdoctors']">Kidney</a>
                  </a>
                </div>
              </div>
              <div class="col">
                <div class="card card-img-a">
                  <a [routerLink]="['/viewdoctors']">
                    <a [routerLink]="['/viewdoctors']"></a>
                    <div>
                      <img
                        src="assets/imagescopy/liver.png"
                        alt=""
                      />
                    </div>
                    <a [routerLink]="['/viewdoctors']">Liver</a>
                  </a>
                </div>
              </div>
            </div>
            <!-- END OF SLIDER -->
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid mt-2 mb-2">
      <div class="row">
        <div class="col-md-12">
          <h5>Specialist Trained For Video Consultation</h5>
        </div>
        <div class="col-md-12">
          <div class="card-speci d-flex flex-wrap">
            <div class="card card-s">
              <a [routerLink]="['/viewdoctors']">
                <div>
                  <img
                    src="assets/imagescopy//General Physician.jpg"
                    alt=""
                  />
                  <!-- <div class="video-p">
                                <p><i class="fas fa-video pr-2"></i> Video</p>
                            </div> -->
                </div>
                <div class="mt-2">
                  <a [routerLink]="['/consultnow']" class="a-h">
                    <h6>General Physician</h6>
                  </a>

                  <p>Consult for fever,cough.pain,and more</p>
                  <p class="green-p">Available now</p>
                </div>
              </a>
            </div>
            <div class="card card-s">
              <a [routerLink]="['/viewdoctors']">
                <div>
                  <img
                    src="assets/imagescopy/dermatologist.jpg"
                    alt=""
                  />
                  <!-- <div class="video-p">
                                <p><i class="fas fa-video pr-2"></i> Video</p>

                            </div> -->
                </div>
                <div class="mt-2">
                  <h6>Dermatologist</h6>
                  <p>Consult for Fever,Cough.Pain,and more..</p>
                  <p class="green-p">Available Now</p>
                </div>
              </a>
            </div>
            <div class="card card-s">
              <a [routerLink]="['/viewdoctors']">
                <div>
                  <img
                    src="assets/imagescopy/gynaecologist.jpg"
                    alt=""
                  />
                  <!-- <div class="video-p">
                                <p><i class="fas fa-video pr-2"></i> Video</p>

                            </div> -->
                </div>
                <div class="mt-2">
                  <h6>Gynecologist</h6>
                  <p>Consult for Fever,Cough.Pain,and more..</p>
                  <p class="green-p">Available now</p>
                </div>
              </a>
            </div>
            <div class="card card-s">
              <a [routerLink]="['/viewdoctors']">
                <div>
                  <img src="assets/imagescopy/ent.jpg" alt="" />
                  <!-- <div class="video-p">
                                <p><i class="fas fa-video pr-2"></i> Video</p>

                            </div> -->
                </div>
                <div class="mt-2">
                  <h6>ENT Specialist</h6>
                  <p>Consult for Fever,Cough.Pain,and more..</p>
                  <p class="green-p">Available Now</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid mt-2 mb-2">
      <div class="row">
        <div class="col-md-12">
          <h4 class="mt-2 mb-4">My Doctors</h4>
        </div>
      </div>
    </div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-6 col-xs-6 col-sm-6 mt-2">
          <div class="card card-consultations">
            <div class="d-flex fever-case">
              <h6>fever</h6>
              <p class="pending-completed">Case pending</p>
            </div>
            <div class="d-flex img-ng">
              <img
                class="fever-img"
                src="assets/imagescopy/gyna.jpg"
                alt=""
              />
              <div class="total-p">
                <div class="d-flex justify-space-between name-time">
                  <p>Dr. Madhu Priya</p>
                </div>
                <p class="specilization">General practitioner</p>
              </div>
              <div>
                <p class="time-clr-f">34min</p>
              </div>
            </div>
            <div class="join-chat">
              <button><a href=""> Join Chat</a></button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6 mt-2">
          <div class="card card-consultations">
            <div class="d-flex fever-case">
              <h6>Jagadish fever</h6>
              <p class="pending-case">Case pending</p>
            </div>
            <div class="d-flex img-ng">
              <img
                class="fever-img"
                src="assets/imagescopy/gyna.jpg"
                alt=""
              />
              <div class="total-p">
                <div class="d-flex justify-space-between name-time">
                  <p>Dr. Madhu Priya</p>
                </div>

                <p class="specilization">General practitioner</p>
              </div>
              <div>
                <p class="time-clr-f">34min</p>
              </div>
            </div>
            <div class="join-chat">
              <button><a href=""> Join Chat</a></button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6 mt-2">
          <div class="card card-consultations">
            <div class="d-flex fever-case">
              <h6>Jagadish fever</h6>
              <p class="pending-completed">completed</p>
            </div>
            <div class="d-flex img-ng">
              <img
                class="fever-img"
                src="assets/imagescopy/gyna.jpg"
                alt=""
              />
              <div class="total-p">
                <div class="d-flex justify-space-between name-time">
                  <p>Dr. Madhu Priya</p>
                </div>

                <p class="specilization">General practitioner</p>
              </div>
              <div>
                <p class="time-clr-f">34min</p>
              </div>
            </div>
            <div class="join-chat">
              <button><a href=""> Join Chat</a></button>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xs-6 col-sm-6 mt-2">
          <div class="card card-consultations">
            <div class="d-flex fever-case">
              <h6>Jagadish fever</h6>
              <p class="pending-case">Case pending</p>
            </div>
            <div class="d-flex img-ng">
              <img
                class="fever-img"
                src="assets/imagescopy/gyna.jpg"
                alt=""
              />
              <div class="total-p">
                <div class="d-flex justify-space-between name-time">
                  <p>Dr. Madhu Priya</p>
                </div>

                <p class="specilization">General practitioner</p>
              </div>
              <div>
                <p class="time-clr-f">34min</p>
              </div>
            </div>
            <div class="join-chat">
              <button><a href=""> Join Chat</a></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="mt-4 mb-4">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <div class="card card-covid">
            <a class="" href="covid-care.php">
              <div class="d-flex">
                <div>
                  <button class="button-a">Covid Assist</button>
                  <h6 class="pt-2 clr-b">
                    Instant access to COVID specialized care & medical guidance
                    for you
                  </h6>

                  <button class="button-g">
                    <a [routerLink]="['/covidhome']">Get Started</a>
                  </button>
                </div>
                <div class="mt-4">
                  <img
                    src="assets/imagescopy/covid.jpg"
                    alt=""
                    class="img-covid"
                  />
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col mt-2">
          <h5>Curated Health Checkups And Screening Tests</h5>
          <p class="color-pn">
            Free home sample pickup and reports from certified labs
          </p>

          <div class="col-md-12 d-flex flex-wrap text-center issues-d mt-2">
            <div class="cance-mk column-p">
              <a [routerLink]="['/sublab']">
                <div class="border-ri">
                  <img src="assets/imagescopy/ribbon.png" alt="" />
                </div>
                <div>
                  <a [routerLink]="['/sublab']">Cancer Marker</a>
                </div>
              </a>
            </div>
            <div class="cance-mk column-p">
              <a [routerLink]="['/sublab']">
                <div class="border-ri">
                  <img src="assets/imagescopy/stress1.png" alt="" />
                </div>
                <div>
                  <a [routerLink]="['/sublab']">Stress & Anxiety</a>
                </div>
              </a>
            </div>
            <div class="cance-mk column-p">
              <a [routerLink]="['/sublab']">
                <div class="border-ri">
                  <img
                    src="assets/imagescopy/fracture.png"
                    alt=""
                  />
                </div>
                <div>
                  <a [routerLink]="['/sublab']">Bone & Joint</a>
                </div>
              </a>
            </div>
            <div class="cance-mk column-p">
              <a [routerLink]="['/sublab']">
                <div class="border-ri">
                  <img
                    src="assets/imagescopy/diabetes.png"
                    alt=""
                  />
                </div>
                <div>
                  <a [routerLink]="['/sublab']">Diabetes</a>
                </div>
              </a>
            </div>
            <div class="cance-mk column-p">
              <a [routerLink]="['/sublab']">
                <div class="border-ri">
                  <img
                    src="assets/imagescopy/bisexual.png"
                    alt=""
                  />
                </div>
                <div>
                  <a [routerLink]="['/sublab']">Sexual Wellness</a>
                </div>
              </a>
            </div>
            <div class="cance-mk column-p">
              <a [routerLink]="['/sublab']">
                <div class="border-ri">
                  <img src="assets/imagescopy/stress1.png" alt="" />
                </div>
                <div>
                  <a [routerLink]="['/sublab']">Tests for fever</a>
                </div>
              </a>
            </div>
          </div>
          <div class="text-center">
            <a [routerLink]="['/homelab']">
              <button class="mt-4 mb-2 view-alls">View All Symptoms</button></a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid contain-add mb-2">
      <div class="row pt-4 pb-2">
        <div class="col">
          <h4>In the Spotlight</h4>
          <p>Explore deals, Offers, health updates</p>
        </div>
        <!-- ////////slider/////////////// -->
        <div class="col-12">
          <div id="owl-demo" class="owl-carousel owl-theme time">
            <div class="item">
              <img src="assets/imagescopy/doctor1.jpg" alt="" />
            </div>
            <div class="item">
              <img src="assets/imagescopy/doctor5.jpg" alt="" />
            </div>
            <div class="item">
              <img src="assets/imagescopy/doctor1.jpg" alt="" />
            </div>
            <div class="item">
              <img src="assets/imagescopy/doctor4.webp" alt="" />
            </div>
          </div>
        </div>
        <!-- END OF SLIDER -->
      </div>
    </div>
  </section>
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <h5>Full Body Check</h5>
          <div class="d-flex justify-content-between button-pc">
            <p>Upto %50% Off</p>
            <a [routerLink]="['/covidhome']"> <button>view all</button></a>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-6 padding-offer-le mt-2 mb-2">
              <div class="card card-offer-tast">
                <a [routerLink]="['/sublab']">
                  <p>72+ TESTS</p>
                  <h6>
                    Vital body check <i class="fas fa-chevron-right pl-2"></i>
                  </h6>
                  <button>799 <del>2499</del></button>
                </a>
              </div>
            </div>
            <div class="col-6 padding-offer-le mt-2 mb-2">
              <div class="card test-color card-offer-tast">
                <a [routerLink]="['/sublab']">
                  <p>72+ TESTS</p>
                  <h6>
                    Vital body check <i class="fas fa-chevron-right pl-2"></i>
                  </h6>
                  <button>799 <del>2499</del></button>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-6 padding-offer-le mt-2 mb-2">
              <div class="card test-color card-offer-tast">
                <a [routerLink]="['/sublab']">
                  <p>72+ TESTS</p>
                  <h6>
                    Vital body check <i class="fas fa-chevron-right pl-2"></i>
                  </h6>
                  <button>799 <del>2499</del></button>
                </a>
              </div>
            </div>
            <div class="col-6 padding-offer-le mt-2 mb-2">
              <div class="card card-offer-tast">
                <a [routerLink]="['/sublab']">
                  <p>72+ TESTS</p>
                  <h6>
                    Vital body check <i class="fas fa-chevron-right pl-2"></i>
                  </h6>
                  <button>799 <del>2499</del></button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2 mb-2">
        <div class="col mt-2 mb-2">
          <h4 class="mt-2 mb-2">Testimonials</h4>
        </div>

        <div id="testimonial-slider" class="owl-carousel">
          <div class="testimonial">
            <div class="pic">
              <img
                src="https://images.pexels.com/photos/704955/pexels-photo-704955.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"
              />
            </div>
            <p class="description">
              I’d definitely recommend virtual Care for their support at every
              step of my pilonidal sinus treatment. The doctor was highly
              experienced and the surgery went well. The team took care of
              everything from day one to the day of discharge very efficiently.
            </p>
            <h3 class="title">Jessica</h3>
            <small class="post">- Architect</small>
          </div>

          <div class="testimonial">
            <div class="pic">
              <img
                src="https://images.pexels.com/photos/638700/pexels-photo-638700.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"
              />
            </div>
            <p class="description">
              "Thanks to Virtual Care, I could focus on my recovery while the
              team took care of all the paperwork, logistics and financial
              support. The doctor was good and clearly explained the issue and
              treatment. After that, from consultation to discharge,
            </p>
            <h3 class="title">Pearl</h3>
            <small class="post">- Engineer </small>
          </div>

          <div class="testimonial">
            <div class="pic">
              <img
                src="https://images.pexels.com/photos/531139/pexels-photo-531139.jpeg?w=940&h=650&auto=compress&cs=tinysrgb"
              />
            </div>
            <p class="description">
              "I contacted Virtual Care for my piles treatment. The doctor was
              very approachable and listed out the best options. After that, the
              insurance, coordination and other formalities were taken care of
              by the Practo Care team. Overall, a seamless experience.
            </p>
            <h3 class="title">Kellie</h3>
            <small class="post">- Graphic Designer</small>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-2 mb-2">
    <div class="container-fluid">
      <div class="row mt-4">
        <div class="col-12">
          <h4 class="mb-4">Happy Customers</h4>
          <div
            id="carouselExampleControls"
            class="carousel slide"
            data-ride="carousel"
          >
            <div class="carousel-inner">
              <div class="carousel-item active bg-t1">
                <p class="text-justify">
                  <i class="fas fa-quote-left qutote-l"></i>Lorem ipsum dolor
                  sit amet consectetur adipisicing elit. Odit rerum, facere
                  beatae nulla ratione minima tenetur est, vitae accusantium
                  labor recusandae sapiente, voluptates natus at dicta
                  voluptatibus! Ad, quae omnis?

                  <i class="fas fa-quote-right qutote-r"></i>
                </p>
                <h6 class="clr-h6">Jagadeesh</h6>
              </div>
              <div class="carousel-item bg-t2">
                <p class="text-justify">
                  <i class="fas fa-quote-left qutote-l"></i>Lorem ipsum dolor
                  sit amet consectetur adipisicing elit. Odit rerum, facere
                  beatae nulla ratione minima tenetur est, vitae accusantium
                  labor recusandae sapiente, voluptates natus at dicta
                  voluptatibus! Ad, quae omnia?<i
                    class="fas fa-quote-right qutote-r"
                  ></i>
                </p>
                <h6 class="clr-h6">Jagadeesh</h6>
              </div>
              <div class="carousel-item bg-t3">
                <p class="text-justify">
                  <i class="fas fa-quote-left qutote-l"></i>Lorem ipsum dolor
                  sit amet consectetur adipisicing elit. Odit rerum, facere
                  beatae nulla ratione minima tenetur est, vitae accusantium
                  labor recusandae sapiente, voluptates natus at dicta
                  voluptatibus! Ad, quae omnis?
                </p>
                <i class="fas fa-quote-right qutote-r"></i>
                <h6 class="clr-h6">Jagadeesh</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  -->
</div>
