 
<section class="padding-covid">
    <div class="container-fluid  mb-2">
        <div class="row back-icon">
            <div class="col-12 d-flex pt-2">
                <a [routerLink]="['/Home']" class="d-flex align-items-center w-100">
                    <i class="fas fa-chevron-left"></i>
                    <p class="pl-2 pt-3">COVID-19 Care</p>
                </a>
 
            </div>
 
        </div>
        <div class="row ">
            <div class="col-12 background">
                <div class="d-flex justify-content-between">
                    <h6 class="d-flex align-items-center coivd-c">COVID-19 Care </h6>
                    <img src="assets/imagescopy/prevention.png" alt="" class="img-50-dctor">
                </div>
            </div>
            <div class="col-12">
 
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-12">
                <h6 class="mt-4">COVID-19 identification & Prevention</h6>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <p>Get your <span>RT-PCR Test</span> done</p>
                    <div>
                        <div>
                            <img src="assets/imagescopy/blood-sample (1).png" alt="">
                            <div>
                                <p>Same day sample Pick-up</p>
                            </div>
                        </div>
                        <div>
                            <img src="assets/imagescopy/clock.png" alt="">
                            <div>
                                <p>Reports Within 24hrs</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
 
        </div> -->
        <div class="row justify-content-center">
            <div class="col-12">
                <h6 class="mt-4">COVID-19 identification & Prevention</h6>
            </div>
 
            <div class="card card-cov">
                <div class="row">
                    <div class="col-9 mb-2">
                        <p class="clr-p-sapn">Get your <span class="span-pcr">PT-PCR Test</span> done</p>
                        <div class="d-flex justify-content-around">
                            <div class="d-flex align-items-center">
                                <div class="img-oc">
                                    <img src="assets/imagescopy/red-blood-cells.png" alt="" class="w-100">
                                </div>
                                <div class="para-oc">
                                    <p>Cover upto 4 family members</p>
                                </div>
                            </div>
                            <div class="d-flex align-items-center">
                                <div class="img-oc">
                                    <img src="assets/imagescopy/red-blood-cells.png" alt="" class="w-100">
                                </div>
                                <div class="para-oc">
                                    <p>Unlimited consultations</p>
                                </div>
                            </div>
 
                        </div>
 
                    </div>
                    <div class="col-3 pl-0">
                        <img src="assets/imagescopy/doc.png" alt="" class="img-co-care">
                    </div>
                </div>
                <div class="row back-wg justify-content-center">
                    <div class="col-6 border-bg pdlr bgclr">
                        <a [routerLink]="['/covidspec']">
                            <div class="d-flex justify-content-center align-items-center w-100">
                                <div class="    " >
                                    <p class="mb-0 clr-b pt-1 pb-2"> <i class="" style="color:blue ;">  </i> At home <i class="" style="color:blue ;"> </i> 
                                    </p>
                                </div>
                                <div>
                                    <!-- <img src="assets/imagescopy/home (4).png" alt="" class="home-covic"> -->
                                    <img src="https://img.icons8.com/material/24/0B1B67/home--v5.png" class="home-covic pl-2"/>
                                </div>
                            </div>
                        </a>
 
                    </div>
                    <div class="col-6 pdlr bgclr">
                        <a [routerLink]="['/covidspec']">
                            <div class="d-flex justify-content-center align-items-center w-100">
                                <div>
                             <p class="mb-0 clr-b  pt-1 pb-2">At center        <!--  <i
                                            class="fas fa-chevron-right pl-2 icon-card-c"></i> -->
                                        </p>
                                </div>
                                <div>
                                    <!-- <img src="assets/imagescopy/home (4).png" alt="" class="home-covic"> -->
                                    <!-- <img src="https://img.icons8.com/material/34/0B1B67/home--v5.png" class="home-covic pl-2"/> -->
                                    <img  class="home-covic pl-2" src="https://img.icons8.com/external-icongeek26-glyph-icongeek26/24/0B1B67/external-hospital-virus-icongeek26-glyph-icongeek26.png"/>
                                </div>
                            </div>
                        </a>
 
                    </div>
                </div>
 
            </div>
 
            <div class="col-md-6 mt-2">
 
                <div class="d-flex mt-2 mb-2">
 
                    <div class="card card-offers card-co ">
                        <a [routerLink]="['/covidspec']"><img src="assets/imagescopy/covidho.jpg" alt="" class="w-100">
                            <div>
                                <a [routerLink]="['/covidspec']
                                " class="online-consultations">
                                    COVID-19 specialist
                                </a>
 
                            </div>
                        </a>
 
                    </div>
                    <div class="card card-offers card-co">
                        <a [routerLink]="['/covidspec']">
                            <img src="assets/imagescopy/lab-test.jpg" alt="" class="w-100">
                            <div>
                                <a [routerLink]="['/covidspec']">
                                    Mental health expert
                                </a>
                            </div>
                        </a>
 
                    </div>
                    <div class="card card-offers card-co">
                        <a [routerLink]="['/covidspec']">
                            <img src="assets/imagescopy/doctor7.jpg" alt="" class="w-100">
                            <div>
                                <a [routerLink]="['/covidspec']">
                                    lung health specialist
                                </a>
                            </div>
                        </a>
 
                    </div>
                </div>
            </div>
 
        </div>
        <div class="row">
            <div class="col-12">
                <h6 class="mt-4">Complete COVID care at home</h6>
            </div>
            <div class="col-md-12">
                <div class="card card-cov-2">
                    <a [routerLink]="['/sublab']">
                        <div class="row">
                            <div class="col-9">
                                <p class="clr-p-sapn">COVID-19 <span class="span-pcr">Home care</span> plan </p>
                                <div class="d-flex justify-content-around">
                                    <div class="d-flex align-items-center">
                                        <div class="img-oc">
                                            <img src="assets/imagescopy/red-blood-cells.png" alt="" class="w-100">
                                        </div>
                                        <div class="para-oc">
                                            <p>Cover upto 4 family members</p>
                                        </div>
                                    </div>
                                    <div class="d-flex align-items-center">
                                        <div class="img-oc">
                                            <img src="assets/imagescopy/red-blood-cells.png" alt="" class="w-100">
                                        </div>
                                        <div class="para-oc">
                                            <p>Unlimited consultations</p>
                                        </div>
                                    </div>
 
                                </div>
 
                            </div>
                            <div class="col-3 pl-0">
                                <img src="assets/imagescopy/doc.png" alt="" class="img-co-care">
                            </div>
                        </div>
                    </a>
                </div>
            </div>
 
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <h5>For Other Health Concerns</h5>
            </div>
 
            <div class="col-6 padding-offer-le mt-2 mb-2">
                <div class="card card-offer-tast">
                    <a [routerLink]="['/sublab']">
                        <p>
                            72+ TESTS
                        </p>
                        <h6>
                            Vital body check <i class="fas fa-chevron-right pl-2"></i>
 
                        </h6>
                        <button>799 <del>2499</del></button>
                    </a>
                </div>
 
            </div>
            <div class="col-6 padding-offer-le mt-2 mb-2">
                <div class="card test-color card-offer-tast ">
                    <a [routerLink]="['/sublab']">
                        <p>
                            72+ TESTS
                        </p>
                        <h6>
                            Vital body check <i class="fas fa-chevron-right pl-2"></i>
 
                        </h6>
                        <button>799 <del>2499</del></button>
                    </a>
                </div>
 
            </div>
            <div class="col-6 padding-offer-le mt-2 mb-2">
                <div class="card test-color card-offer-tast ">
                    <a [routerLink]="['/sublab']">
                        <p>
                            72+ TESTS
                        </p>
                        <h6>
                            Vital body check <i class="fas fa-chevron-right pl-2"></i>
 
                        </h6>
                        <button>799 <del>2499</del></button>
                    </a>
                </div>
 
            </div>
            <div class="col-6 padding-offer-le mt-2 mb-2">
                <div class="card card-offer-tast">
                    <a [routerLink]="['/sublab']">
                        <p>
                            72+ TESTS
                        </p>
                        <h6>
                            Vital body check <i class="fas fa-chevron-right pl-2"></i>
 
                        </h6>
                        <button>799 <del>2499</del></button>
                    </a>
                </div>
 
            </div>
        </div>
 
    </div>
</section>
<section class="">
    <div class="col-12">
        <h5 class="pb-2 pt-2"> Health Feed</h5>
    </div>
    <!-- ////////slider/////////////// -->
    <div class="col-12">
        <div id="owl-covid" class="owl-carousel ">
 
            <div class="item carousel-hei">
                <img src="assets/imagescopy/doctor5.jpg" alt="">
                <div class="content-po">
                    <p>Can COVID-19 </p>
                    <p>Lead to Diabetes ?</p>
                </div>
 
            </div>
            <div class="item">
                <img src="assets/imagescopy/doctor5.jpg" alt="">
                <div class="content-po">
                    <p>Can COVID-19 </p>
                    <p>Lead to Diabetes ?</p>
                </div>
            </div>
            <div class="item">
                <img src="assets/imagescopy/doctor5.jpg" alt="">
                <div class="content-po">
                    <p>Can COVID-19 </p>
                    <p>Lead to Diabetes ?</p>
                </div>
            </div>
            <div class="item">
                <img src="assets/imagescopy/doctor5.jpg" alt="">
                <div class="content-po">
                    <p>Can COVID-19 </p>
                    <p>Lead to Diabetes ?</p>
                </div>
            </div>
 
        </div>
 
    </div>
 
 
 
    <!-- END OF SLIDER -->
</section>
 
 
 

