
<section class="padding-online">
    <div class="container-fluid">
        <div class="row back-icon">
            <div class="col-12 d-flex pt-2 justify-content-between">
                <a [routerLink]="['/homelab']" class="d-flex align-items-center w-100">
                    <i class="fas fa-chevron-left"></i>
                    <p class="pl-2 pt-3">Frequently Booked Test</p>

                </a>


            </div>
            <div class="col-12">
                <div class="d-flex main-search">
                    <i class="fas fa-map-marker-alt pl-2"></i>

                    <input type="text" placeholder="Search your location" class="pl-2">
                </div>
            </div>
            <!-- <div class="col-12">
                <p class="help-isssue">General Queries</p>

            </div> -->
        </div>
        <div class="row mt-2 mb-2">

            <div class="col-md-6 mt-2 mb-2">
                <h4>Liver Test</h4>
                <div class="d-flex align-centerdd pt-2">
                    <img src="assets/imagescopy/prize.png" alt="">
                    <p class="desc-p pl-2">Tested by Certified Pathologist </p>
                </div>
                <div class="d-flex align-centerdd mt-2 ">
                    <img src="assets/imagescopy/check (1).png" alt="">
                    <p class="desc-p pl-2">Free home sample pickup on orders above &#8377;500 </p>
                </div>

                <!-- <p class="desc-p">Ideal for women aged <span>21-40 Years</span></p>
                <p class="desc-p">Includes<span>33 tests</span></p> -->
                <div class="d-flex justify-content-between justify-content-between box-to-now mt-4">
                    <p>&#8377;799 <del class="del-12"> &#8377;1299</del> <span class="clr-s1">25% Off</span></p>
                    <a href="booknow-l.php" class="book-now-b">Book Now</a>
                </div>

            </div>
            <div class="col-md-6 background-cc">
                <div class="d-flex  align-items-center justify-content-between  mt-2 mb-2">
                    <div class="pt-2 ">
                        <h6>Need help with a booking ?</h6>
                        <p>We are here</p>
                    </div>
                    <div>
                        <a href="tel:6304917977" class="call-usb"> Call us now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h6 class="mt-2 mb-2">Who should book this checkup ?</h6>
                <p class="p-fix-font">Studies show that almost 40% of middle-aged people suffer from lifestyle disorders
                    like diabetes,
                    thyroid disorders and high cholesterol. This health package is ideal for individuals between the age
                    of 41-60, leading a hectic lifestyle with high work-stress, less time for exercise, irregular
                    sleeping and eating schedules. This health check is helpful in early detection of health problems
                    such as </p>
            </div>
            <div class="col-md-6">
                <h4 class="mt-2 mb-2">Why book with us ?</h4>
                <div>
                    <div class="d-flex">
                        <div>

                            <i class="fas fa-user pr-2 icon-know"></i>
                        </div>
                        <div>
                            <p>Home sample collection for FREE</p>
                            <p class="justify-p">We have the finest and some of the most qualified surgical specialists,
                                each
                                with 10+ years of
                                experience, who will consult with you to determine and conduct the most appropriate
                                surgical
                                procedure for your condition.</p>
                        </div>

                    </div>


                </div>
                <div>
                    <div class="d-flex">
                        <div>
                            <i class="fas fa-notes-medical pr-2   icon-know"></i>
                        </div>
                        <div>
                            <p>Get digital report within 2 days</p>
                            <p class="justify-p">
                                You can expect the highest standards in surgeries and care with our cutting-edge modern
                                medical
                                technology, designed to provide you the most advanced level of medical care.
                            </p>
                        </div>

                    </div>

                </div>
                <div>
                    <div class="d-flex">
                        <div>
                            <i class="fas fa-handshake pr-2  icon-know"></i>
                        </div>
                        <div>
                            <p>Valuable doctor's consultation</p>
                            <p class="justify-p">A dedicated assistant will take care of your needs from your very first
                                interaction with us
                                through to the end of your treatment. They will be with you at every step of your
                                journey—booking consultations with surgeons, getting a second opinion, finding the best
                                hospital
                                for your surgery, arranging medicines and lab tests, handling the insurance approvals,
                                and
                                coordinating admission and discharge formalities.</p>
                        </div>

                    </div>

                </div>
            </div>
            <div class="col-md-6">
                <div>
                    <h4>Includes 85 Tests</h4>
                    <div class=" accordian accordian-tss">
                        <ul class="pl-0">
                            <li>
                                <h3>
                                    <span class="arrow"></span>
                                    <div class="d-flex  align-items-center">
                                        <div class="  img-divc">
                                            <img src="assets/imagescopy/temperature.png" alt="">
                                        </div>
                                        <div class="iron-disease">
                                            <h6>Advanced Renal Profile</h6>
                                            <p class="tests-s mb-0">5 tests</p>
                                        </div>
                                    </div>
                                </h3>
                                <ul class="pl-0">
                                    <li>
                                        Urea Nitrogen Blood
                                    </li>
                                    <li>
                                        Calcium Ion Specific Electrode Potentiometric Method Blood
                                    </li>
                                    <li>
                                        Chloride Blood
                                    </li>
                                    <li>
                                        Creatinine Conventional Blood
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h3>
                                    <span class="arrow"></span>
                                    <div class="d-flex  align-items-center">
                                        <div class="  img-divc">
                                            <img src="assets/imagescopy/temperature.png" alt="">
                                        </div>
                                        <div class="iron-disease">
                                            <h6>Cardiac Risk Markers</h6>
                                            <p class="tests-s mb-0">5 tests</p>
                                        </div>
                                    </div>
                                </h3>
                                <ul class="pl-0">
                                    <li>
                                        Apolipoprotein A1 Blood
                                    </li>
                                    <li>
                                        Apolipoprotein B Blood
                                    </li>
                                    <li>
                                        C Reactive Protein High Sensitivity Blood
                                    </li>
                                    <li>
                                        Lipoprotein Blood
                                    </li>
                                    <li>
                                        Apo B / Apo A1 Ratio (Apo B/A1) Calculated Blood Serum
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h3>
                                    <span class="arrow"></span>
                                    <div class="d-flex  align-items-center">
                                        <div class="  img-divc">
                                            <img src="assets/imagescopy/temperature.png" alt="">
                                        </div>
                                        <div class="iron-disease">
                                            <h6>Hemogram - 6 Part (Diff)</h6>
                                            <p class="tests-s mb-0">5 tests</p>
                                        </div>
                                    </div>
                                </h3>
                                <ul class="pl-0">
                                    <li>
                                        Apolipoprotein A1 Blood
                                    </li>
                                    <li>
                                        Apolipoprotein B Blood
                                    </li>
                                    <li>
                                        C Reactive Protein High Sensitivity Blood
                                    </li>
                                    <li>
                                        Lipoprotein Blood
                                    </li>
                                    <li>
                                        Apo B / Apo A1 Ratio (Apo B/A1) Calculated Blood Serum
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <h3>
                                    <span class="arrow"></span>
                                    <div class="d-flex  align-items-center">
                                        <div class="  img-divc">
                                            <img src="assets/imagescopy/temperature.png" alt="">
                                        </div>
                                        <div class="iron-disease">
                                            <h6>Hemogram - 6 Part (Diff)</h6>
                                            <p class="tests-s mb-0">5 tests</p>
                                        </div>
                                    </div>
                                </h3>
                                <ul class="pl-0">
                                    <li>
                                        Apolipoprotein A1 Blood
                                    </li>
                                    <li>
                                        Apolipoprotein B Blood
                                    </li>
                                    <li>
                                        C Reactive Protein High Sensitivity Blood
                                    </li>
                                    <li>
                                        Lipoprotein Blood
                                    </li>
                                    <li>
                                        Apo B / Apo A1 Ratio (Apo B/A1) Calculated Blood Serum
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
