<section class="padding-tbs">
  <!-- //////////////Consult-now//////////// -->
  <div class="container-fluid">
    <div class="row back-icon">
      <div class="col-6 d-flex pt-2">
        <a [routerLink]="['/consultnow']" class="d-flex align-items-center w-100">
          <i class="fas fa-chevron-left"> </i>
          <p class="pt-3 pl-2">Back</p>
        </a>
      </div>
      <!-- <div class="col-6">
                <img src="Assets/images copy/propic.png" alt="">
            </div> -->
    </div>
     </div>
  <!-- ///////////////////////////////////// -->
</section>
<!-- ///////////////cards////////////////////// -->
<section class="padding-bottomclas">
  <div class="container-fluid scrool-issues">
    
    <div class="row mt-2 mb-2 most-select">
      <div class="col-12 d-flex">
        <h6>Most selected issues</h6>
      </div>
    </div>
    <div class="row justify-content-around">
      <div class="d-flex justify-content-around flex-wrap">
        <div class="row-colp" *ngFor="let symptomslist of symptomslist ">
          <div class="d-flex card-feaver">
            <div class="img-divc">
              <img src="{{symptomslist.symptom_image}}" alt="">
            </div>
            <div (click)="setsymptom(symptomslist.symptom_name)"> <p class="pl-2 pt-2">{{symptomslist.symptom_name}}</p>
              <a [routerLink]="['/consult']">
              </a>
            </div>
          </div>
        </div>
        <div class="row-colp">
          <div class="d-flex card-feaver">
            <div class="img-divc">
              <img src="https://img.icons8.com/external-kiranshastry-gradient-kiranshastry/64/undefined/external-more-multimedia-kiranshastry-gradient-kiranshastry.png"/>
            </div>
            <div (click)="setsymptom('Others')"> <p class="pl-2 pt-2">Others</p>
              <a [routerLink]="['/consult']">
               </a>
            </div>
          </div>
        </div>
        
  <!-- #region -->
  </div>
    </div>
    </div>
</section>
<!-- ////////////////////////////////////////// -->
